@font-face {
    src: url("../fonts/Anton-Regular.ttf");
    font-family: 'Anton-Regular';    
    font-weight: normal;
} 

@font-face {
    src: url("../fonts/Lato-Light.ttf");
    font-family: 'Lato-Light';    
    font-weight: normal;
} 

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {
    padding: 0px!important;
}

.menu-principal {
    width: 100%;
    background-color: black;
    height: 60px; 
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.titulo h1 {
    font-family: "Anton-Regular";
    text-align: center;
    color: #B70E79;
    padding-top: 3%;
}

.logo img{
    float: left;
    padding: 5px;
    width: 5%;
}

.redes-sociais ul li {
    margin-left: 10px;
    display: inline-block;
    float: left;
    list-style: none;
}

.redes-sociais {
    width: 25%;
    float: right;
}

.banner {
    margin: 0 auto;
    position: relative;
}

.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 10px;
}

.menu-url {
    border-bottom: 3px solid #efefef;
    height: 65px;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
}

.menu ul li a:hover {
    
    color: #B70E79;  
}

.menu ul li a {
    padding: 20;
    position: relative;
    left: 50%;
    color: #8b8b8b;
    text-decoration: none;
    font-size: 20px;
    font-family: "Arial";
    text-transform: uppercase;
}

.tela-100 {
    width: 100%;
    float: left;
    position: relative;
}

.slick-initialized {
    overflow: hidden;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index:  9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/esqueda.png');
    top: 45%;
    left: 5%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index:  9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/direita.png');
    top: 45%;
    right: 5%;
}

.slider-principal {
    width: 100%;
}

.slick-dots li button{
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 24px;
    height: 24px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 46%; 
    top: 450px;
}

li.slick-active button {
    background: #B70E79;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

.texto-destaque {
    text-align: center;
}

.col-3 {
    width: 20%;
    float: left;
    position: relative;
    padding-left: 50px;
    left: 13%;
    top: 50px;
}

.col-3 h3 {
    font-family: "Arial", Helvetica, serif;
    color: #B70E79;
}

.col-3 p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #8b8b8b;
    text-align:center;
    padding-bottom: 25%;
}

.tela-100 .sobre {
    background-color: #E6E7E8;
}

.sobre p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: #8b8b8b;
    padding-top: 15px;
    width: 35%;
    padding-left: 50%;
    padding-bottom: 5%;
}

.perfil {
    width: 20%;
    position: absolute;
    padding-left: 12%;
    top: 155px;
}

.cliente {
    width: 20%;
    float: left;
    position: relative;
    left: 13%;
    top: 50px;
    padding-bottom: 10%;
}

.portfolio {
    background-color: #E6E7E8;
    padding-bottom: 22%;
}

.port {
    width: 22%;
    float: left;
    position: relative;
    left: 7%;
    top: 50px;
    padding-bottom: 10%;
}

.rodape {
    background-color: black;
    padding-bottom: 35%;
}

.logo2 img {
    float: left;
    position: relative;
    left: 7%;
    top: 50px;
}

.menu2 {
    float: left;
    position: absolute;
    left: 40%;
    top: 100px;
}

form {
    float: left;
    position: absolute;
    left: 40%;
    top: 5px;
}

form p {
    font-family: "Arial", Helvetica, serif;
    color: #B70E79;
}

form h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #B70E79;
}
